<div class="container text-center" style="max-width: 900px;">
    <div class="col align-self-center mt-5">
        <div class="card mb-3 bg-transparent my-4">
            <div class="row g-0">
                <div class="col-md-1">
                    <img src={{build.champion.icon}} class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        {{#each  build.runes.primaryRunes as |rune|}}
                            <div class="col-sm my-2">
                                <div class="m-3 card" style="width: 10rem;">
                                    <img src={{rune.image}} class="card-img" alt="">
                                </div>
                            </div>
                        {{/each}}
                        {{#each  build.runes.secondaryRunes as |rune|}}
                            <div class="col-sm my-2">
                                <div class="m-3 card" style="width: 10rem;">
                                    <img src={{rune.image}} class="card-img" alt="">
                                </div>
                            </div>
                        {{/each}}
                    </div>
                    <div class="card-body">
                        <div class="col-sm my-2">
                            <div class="m-3 card" style="width: 10rem;">
                                <img src={{build.boots.image}} class="card-img" alt="">
                                <div class="card-img-overlay">
                                    <p class="card-text p-2 fs-5 position-absolute bottom-0 w-100 text-white">{{ build.boots.name }}</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm my-2">
                            <div class="m-3 card" style="width: 10rem;">
                                <img src={{build.mythic.image}} class="card-img" alt="">
                                <div class="card-img-overlay">
                                    <p class="card-text p-2 fs-5 position-absolute bottom-0 w-100 text-white">{{ build.mythic.name }}</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm my-2">
                            <div class="m-3 card" style="width: 10rem;">
                                <img src={{build.item1.image}} class="card-img" alt="">
                                <div class="card-img-overlay">
                                    <p class="card-text p-2 fs-5 position-absolute bottom-0 w-100 text-white">{{ item.name }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm my-2">
                            <div class="m-3 card" style="width: 10rem;">
                                <img src={{build.item2.image}} class="card-img" alt="">
                                <div class="card-img-overlay">
                                    <p class="card-text p-2 fs-5 position-absolute bottom-0 w-100 text-white">{{ item.name }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm my-2">
                            <div class="m-3 card" style="width: 10rem;">
                                <img src={{build.item3.image}} class="card-img" alt="">
                                <div class="card-img-overlay">
                                    <p class="card-text p-2 fs-5 position-absolute bottom-0 w-100 text-white">{{ item.name }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm my-2">
                            <div class="m-3 card" style="width: 10rem;">
                                <img src={{build.item4.image}} class="card-img" alt="">
                                <div class="card-img-overlay">
                                    <p class="card-text p-2 fs-5 position-absolute bottom-0 w-100 text-white">{{ item.name }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm my-2">
                            <div class="m-3 card" style="width: 10rem;">
                                <img src={{build.item5.image}} class="card-img" alt="">
                                <div class="card-img-overlay">
                                    <p class="card-text p-2 fs-5 position-absolute bottom-0 w-100 text-white">{{ item.name }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>
<form method="POST" action="/random/new">
    <input name="champion" hidden type="text" value='{{build.champion.id}}' />
    <input name="boots" hidden type="text" value='{{build.boots.image}}' />
    <input name="mythic" hidden type="text" value='{{build.mythic.image}}' />
    <input name="item1" hidden type="text" value='{{build.item1.image}}' />
    <input name="item2" hidden type="text" value='{{build.item2.image}}' />
    <input name="item3" hidden type="text" value='{{build.item3.image}}' />
    <input name="item4" hidden type="text" value='{{build.item4.image}}' />
    <input name="item5" hidden type="text" value='{{build.item5.image}}' />
  <button type="submit">Save</button>
</form>