    <div class="container text-center" style="max-width: 900px;">
        <div class="bg-transparent my-4">
            <div class="row g-0">
                {{#each team as |build|}}
                    <div class="d-flex justify-content-center">
                        <div class="dbuild d-inline-block d-flex justify-content-center my-3">
                            <img src="{{build.position}}" alt="">
                            <img src=" {{build.champion.icon}} " alt="">
                            <img src=" {{build.rune.image}} " alt="">
                            <img src=" {{build.boots.image}} " alt="">
                            <img src=" {{build.mythic.image}} " alt="">
                            <img src=" {{build.item1.image}} " alt="">
                            <img src=" {{build.item2.image}} " alt="">
                            <img src=" {{build.item3.image}} " alt="">
                            <img src=" {{build.item4.image}} " alt="">
                            <img src=" {{build.item5.image}} " alt="">
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>