<div class="container-fluid top-0 left-0 w-100 h-100" style="background-image: url('https://res.cloudinary.com/dg1pgnrnl/image/upload/Assets/overlay_hquylb.png'),url('{{champion.splashart}}'); background-size: cover; background-repeat: no-repeat;">

    <div class="d-flex allign-items-center justify-content-center flex-column">

        <div class="imgbuild my-3 text-center">
            <h3>{{champion.name}}</h3>
            <a href="/champions/{{ champion._id }}"><img style="width: 8rem; border:1px solid grey;" src="{{champion.icon}}" alt=""></a>
        </div>
        
        <div class="d-flex allign-items-center justify-content-center text-center">
            <form  method="POST" action="/random/new">
                <input name="champion" hidden type="text" value='{{champion.id}}' />
                <div class="accordion accordion-flush" style="width: 90rem;" id="accordionFlushExample">
                    <div class="accordion-item bg-transparent">
                        <h2 class="accordion-header bg-transparent">
                            <button class="border text-white accordion-button collapsed bg-transparent" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseZero" aria-expanded="false" aria-controls="flush-collapseZero">
                                <h4>Keystone</h4>
                            </button>
                        </h2>
                        <div id="flush-collapseZero" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="border accordion-body">
                                <fieldset name="rune" max="5">
                                    {{#each build.rune as |rune|}}
                                        <label>
                                            <input required type="radio" name="rune" value="{{ rune.id }}"><img class="" style="width: 5rem;"src="{{ rune.image }}" alt="">
                                        </label>
                                    {{/each}}
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item bg-transparent">
                        <h2 class="accordion-header">
                            <button class="border text-white accordion-button collapsed bg-transparent" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                <h4>Boots</h4>
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body border">
                                <fieldset name="boots" max="1">
                                    {{#each build.boots as |boots|}}
                                        <label>
                                            <input required type="radio" name="boots" value="{{ boots.id }}"><img class="" style="width: 5rem;" src="{{ boots.image }}" alt="">
                                        </label>
                                    {{/each}}
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item bg-transparent">
                        <h2 class="accordion-header">
                            <button class="border text-white accordion-button collapsed bg-transparent" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                <h4>Mythic Item</h4>
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body border">
                                <fieldset name="mythic" max="1">
                                    {{#each build.mythics as |mythic|}}
                                        <label>
                                            <input required type="radio" name="mythic" value="{{ mythic.id }}"><img class="" style="width: 5rem;" src="{{ mythic.image }}" alt="">
                                        </label>
                                    {{/each}}
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    
                    <div class="accordion-item bg-transparent">
                        <h2 class="accordion-header">
                            <button class="border text-white accordion-button collapsed bg-transparent" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                <h4>1st Item</h4>
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body border">
                                <fieldset name="item1" max="5">
                                    {{#each build.legendaries as |legendary|}}
                                        <label>
                                            <input required type="radio" name="item1" value="{{ legendary.id }}"><img class="" style="width: 5rem;" src="{{ legendary.image }}" alt="">
                                        </label>
                                    {{/each}}
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item bg-transparent">
                        <h2 class="accordion-header">
                            <button class="border text-white accordion-button collapsed bg-transparent" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                                <h4>2nd Item</h4>
                            </button>
                        </h2>
                        <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body border">
                                <fieldset name="item2" max="5">
                                    {{#each build.legendaries as |legendary|}}
                                        <label>
                                            <input required type="radio" name="item2" value="{{ legendary.id }}"><img class="" style="width: 5rem;" src="{{ legendary.image }}" alt="">
                                        </label>
                                    {{/each}}
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item bg-transparent">
                        <h2 class="accordion-header">
                            <button class="border text-white accordion-button collapsed bg-transparent" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                                <h4>3rd Item</h4>
                            </button>
                        </h2>
                        <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body border">
                                <fieldset name="item3" max="5">
                                    {{#each build.legendaries as |legendary|}}
                                        <label>
                                            <input required type="radio" name="item3" value="{{ legendary.id }}"><img class="" style="width: 5rem;" src="{{ legendary.image }}" alt="">
                                        </label>
                                    {{/each}}
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item bg-transparent">
                        <h2 class="accordion-header">
                            <button class="border text-white accordion-button collapsed bg-transparent" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                                <h4>4th Item</h4>
                            </button>
                        </h2>
                        <div id="flush-collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body border">
                                <fieldset name="item4" max="5">
                                    {{#each build.legendaries as |legendary|}}
                                        <label>
                                            <input required type="radio" name="item4" value="{{ legendary.id }}"><img class="" style="width: 5rem;" src="{{ legendary.image }}" alt="">
                                        </label>
                                    {{/each}}
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item bg-transparent">
                        <h2 class="accordion-header">
                            <button class="border text-white accordion-button collapsed bg-transparent" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTen" aria-expanded="false" aria-controls="flush-collapseTen">
                                <h4>5th Item</h4>
                            </button>
                        </h2>
                        <div id="flush-collapseTen" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body border">
                                <fieldset name="item1" max="5">
                                    {{#each build.legendaries as |legendary|}}
                                        <label>
                                            <input required type="radio" name="item5" value="{{ legendary.id }}"><img class="" style="width: 5rem;" src="{{ legendary.image }}" alt="">
                                        </label>
                                    {{/each}}
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btnsavenew">
                    <input type="submit" value="Save">
                </div>
            </form>
        </div>
    </div>
    <div class="h-6 my-4 py-4"></div>
    <div class="h-6 my-4 py-4"></div>
    <div class="h-6 my-4 py-4"></div>
    <div class="h-6 my-4 py-4"></div>
    <div class="h-6 my-4 py-4"></div>
    <div class="h-6 my-4 py-4"></div>
</div>