<div class="position-absolute top-50 start-50 translate-middle">
    <img src="{{champion.icon}}" alt="">
    <form  method="POST" action="/random/new">
        <input name="champion" hidden type="text" value='{{champion.id}}' />
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseZero" aria-expanded="false" aria-controls="flush-collapseZero">
                        Keystone
                    </button>
                </h2>
                <div id="flush-collapseZero" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <fieldset name="rune" max="5">
                            <legend>Keystone</legend>
                            {{#each build.runes as |rune|}}
                                <label>
                                    <input type="radio" name="rune" value="{{ rune.id }}"><img class="img-thumbnail" src="{{ rune.image }}" alt="">
                                </label>
                            {{/each}}
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Boots
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <fieldset name="boots" max="1">
                            <legend>Boots</legend>
                            {{#each build.boots as |boots|}}
                                <label>
                                    <input type="radio" name="boots" value="{{ boots.id }}"><img class="img-thumbnail" src="{{ boots.image }}" alt="">
                                </label>
                            {{/each}}
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        Mythic Item
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <fieldset name="mythic" max="1">
                            <legend>Mythic Item</legend>
                            {{#each build.mythics as |mythic|}}
                                <label>
                                    <input type="radio" name="mythic" value="{{ mythic.id }}"><img class="img-thumbnail" src="{{ mythic.image }}" alt="">
                                </label>
                            {{/each}}
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        2nd Item
                    </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <fieldset name="item1" max="5">
                            <legend>2nd Item</legend>
                            {{#each build.legendaries as |legendary|}}
                                <label>
                                    <input type="radio" name="item1" value="{{ legendary.id }}"><img class="img-thumbnail" src="{{ legendary.image }}" alt="">
                                </label>
                            {{/each}}
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                        3rd Item
                    </button>
                </h2>
                <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <fieldset name="item2" max="5">
                            <legend>3rd Item</legend>
                            {{#each build.legendaries as |legendary|}}
                                <label>
                                    <input type="radio" name="item2" value="{{ legendary.id }}"><img class="img-thumbnail" src="{{ legendary.image }}" alt="">
                                </label>
                            {{/each}}
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                        4th Item
                    </button>
                </h2>
                <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <fieldset name="item3" max="5">
                            <legend>4th Item</legend>
                            {{#each build.legendaries as |legendary|}}
                                <label>
                                    <input type="radio" name="item3" value="{{ legendary.id }}"><img class="img-thumbnail" src="{{ legendary.image }}" alt="">
                                </label>
                            {{/each}}
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                        5th Item
                    </button>
                </h2>
                <div id="flush-collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <fieldset name="item4" max="5">
                            <legend>5th Item</legend>
                            {{#each build.legendaries as |legendary|}}
                                <label>
                                    <input type="radio" name="item4" value="{{ legendary.id }}"><img class="img-thumbnail" src="{{ legendary.image }}" alt="">
                                </label>
                            {{/each}}
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                        6th Item
                    </button>
                </h2>
                <div id="flush-collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <fieldset name="item5" max="5">
                            <legend>6th Item</legend>
                            {{#each build.legendaries as |legendary|}}
                                <label>
                                    <input type="radio" name="item5" value="{{ legendary.id }}"><img class="img-thumbnail" src="{{ legendary.image }}" alt="">
                                </label>
                            {{/each}}
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit">Save</button>
    </form>
</div>

<!--




    ///////////
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Accordion Item #1
            </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                Accordion Item #2
            </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                Accordion Item #3
            </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
            </div>
        </div>
    </div>

    ////////////////////////////////////////////////////////////
    2nd 3rd 4th 5th 6th

    <label for="champion"><img src="{{champion.icon}}" alt=""></label>
    <input name="champion" hidden type="text" value='{{champion.id}}'/>
    
    <select name="boots">
        {{#each items.boots as |boots|}}
            <option style="background-image: url('{{boots.image}}');" value="{{boots.name}}">{{boots.name}}</option>
        {{/each}}
    </select>
    <select name="mythic" size="10">
        {{#each items.mythics as |mythic|}}
            <option value="{{mythic.image}}"><img src="{{mythic.image}}" alt=""></option>
        {{/each}}
    </select>
    <select name="item1" size="10">
        {{#each items.legendaries as |legendary|}}
            <option value="{{legendary.image}}"><img src="{{legendary.image}}" alt=""></option>
        {{/each}}
    </select>
    <select name="item2" size="10">
        {{#each items.legendaries as |legendary|}}
            <option value="{{legendary.image}}"><img src="{{legendary.image}}" alt=""></option>
        {{/each}}
    </select>
    <select name="item3" size="10">
        {{#each items.legendaries as |legendary|}}
            <option value="{{legendary.image}}"><img src="{{legendary.image}}" alt=""></option>
        {{/each}}
    </select>
    <select name="item4" size="10">
        {{#each items.legendaries as |legendary|}}
            <option value="{{legendary.image}}"><img src="{{legendary.image}}" alt=""></option>
        {{/each}}
    </select>
    <select name="item5" size="10">
        {{#each items.legendaries as |legendary|}}
            <option value="{{legendary.image}}"><img src="{{legendary.image}}" alt=""></option>
        {{/each}}
    </select>
    <button type="submit">Save</button>

-->