<h1 class="text-white text-center">{{currentUser.username}}</h1>
<div class="commentprofile">
    <h1 class="text-white">Comments</h1>
</div>

{{#if userDetails.comments}}
    {{#each userDetails.comments as |comment|}}
    <div class="comments">
    <section style="background-color: transparent;">
    <div class="card my-4" style="width: 45rem">
        <div class="card-body">
            <div class="d-flex flex-start">
                <div class="w-100">
                    <div class="d-flex justify-content-between align-items-center">
                        <h6 class="text-primary fw-bold">
                        {{comment.author}} -
                        <span class="text-dark ms-2">{{ comment.text }}</span>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    </section>
    {{/each}}
{{/if}}

{{#if userDetails.build}}
    <h1 class="text-white text-center">Builds</h1>
  {{#each userDetails.build as |build|}}
        <div class="detailall py-5 d-flex justify-content-center">
            <a class="d-inline-block" href="/builds/{{ build._id }}">
                <div class="dbuild d-inline-block d-flex justify-content-center my-5">
                    <img src=" {{build.rune.image}} " alt="">
                    <img src=" {{build.boots.image}} " alt="">
                    <img src=" {{build.mythic.image}} " alt="">
                    <img src=" {{build.item1.image}} " alt="">
                    <img src=" {{build.item2.image}} " alt="">
                    <img src=" {{build.item3.image}} " alt="">
                    <img src=" {{build.item4.image}} " alt="">
                    <img src=" {{build.item5.image}} " alt="">
                </div>
            </a>
        </div>
  {{/each}}
{{/if}}