<h1 class="text-white">{{currentUser.username}}</h1>

<h1 class="text-white">Comments</h1>

{{#if userDetails.comments}}
    {{#each userDetails.comments as |comment|}}
    <div class="comments">
    <section style="background-color: transparent;">
        
        <div class="container text-dark">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-10 col-xl-8">
                    <div class="d-flex justify-content-between align-items-center mb-4"></div>
                </div>
            </div>
        </div>
    <div class="card" style="width: 45rem">
        <div class="card-body">
            <div class="d-flex flex-start">
                <div class="w-100">
                    <div class="d-flex justify-content-between align-items-center">
                        <h6 class="text-primary fw-bold">
                        {{comment.author}} -
                        <span class="text-dark ms-2">{{ comment.text }}</span>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    </section>
    {{/each}}
{{/if}}

<h1 class="text-white">Builds</h1>

{{#if userDetails.build}}
  {{#each userDetails.build as |build|}}
    <div class="container text-center" style="max-width: 900px;">
        <div class="col align-self-center mt-5">
            <div class="card mb-3 bg-transparent my-4">
                <div class="row g-0">
                    <div class="col-md-8">
                        <div class="card-body row">
                            <div class="col-sm my-2">
                                <div class="m-3 card bg-transparent" style="width: 10rem;">
                                    <img src={{build.champion.icon}} class="card-img" alt="">
                                </div>
                            </div>

                            <div class="col-sm my-2">
                                <div class="m-3 card" style="width: 10rem;">
                                    <img src={{build.rune.image}} class="card-img" alt="">
                                </div>
                            </div>

                            <div class="col-sm my-2">
                                <div class="m-3 card" style="width: 10rem;">
                                    <img src={{build.boots.image}} class="card-img" alt="">
                                </div>
                            </div>
                            
                            <div class="col-sm my-2">
                                <div class="m-3 card" style="width: 10rem;">
                                    <img src={{build.mythic.image}} class="card-img" alt="">
                                </div>
                            </div>
                            
                            <div class="col-sm my-2">
                                <div class="m-3 card" style="width: 10rem;">
                                    <img src={{build.item1.image}} class="card-img" alt="">
                                </div>
                            </div>
                            <div class="col-sm my-2">
                                <div class="m-3 card" style="width: 10rem;">
                                    <img src={{build.item2.image}} class="card-img" alt="">
                                </div>
                            </div>
                            <div class="col-sm my-2">
                                <div class="m-3 card" style="width: 10rem;">
                                    <img src={{build.item3.image}} class="card-img" alt="">
                                </div>
                            </div>
                            <div class="col-sm my-2">
                                <div class="m-3 card" style="width: 10rem;">
                                    <img src={{build.item4.image}} class="card-img" alt="">
                                </div>
                            </div>
                            <div class="col-sm my-2">
                                <div class="m-3 card" style="width: 10rem;">
                                    <img src={{build.item5.image}} class="card-img" alt="">
                                </div>
                            </div>
                            <div class= "detailb">
                              <a class= "fs-5 text-black active" href="/builds/{{ build._id }}">Build Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>
  {{/each}}
{{/if}}