<div class="dbuild">
  <img src=" {{buildDetails.build.boots}} " alt="">
  <img src=" {{buildDetails.build.mythic}} " alt="">
  <img src=" {{buildDetails.build.item1}} " alt="">
  <img src=" {{buildDetails.build.item2}} " alt="">
  <img src=" {{buildDetails.build.item3}} " alt="">
  <img src=" {{buildDetails.build.item4}} " alt="">
  <img src=" {{buildDetails.build.item5}} " alt="">
</div>


<h1>Comments</h1>
{{#each buildDetails.comments as |comment|}}
  <div class="comments">
  <section style="background-color: transparent;">
      
      <div class="container text-dark">
          <div class="row d-flex justify-content-center">
              <div class="col-lg-10 col-xl-8">
                  <div class="d-flex justify-content-between align-items-center mb-4"></div>
              </div>
          </div>
      </div>
  <div class="card" style="width: 45rem">
      <div class="card-body">
          <div class="d-flex flex-start">
              <div class="w-100">
                  <div class="d-flex justify-content-between align-items-center">
                    <h6 class="text-primary fw-bold">
                      {{comment.author}} -
                      <span class="text-dark ms-2">{{ comment.text }}</span>
                    </h6>
                  </div>
              </div>
          </div>
      </div>
      </div>
  </div>
  </section>
{{/each}}

<div class="commentsection">
<section style="background-color: transparent">
  <div class="container my-5 py-5 text-white">
    <div class="row d-flex justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-6">
        <form action="/builds/{{buildDetails.build.id}}" method="POST">
        <div class="card bg-transparent">
          <div class="card-body p-4">
            <div class="d-flex flex-start w-100">
              <div class="w-100">
                <h5 class="text-white">Add a comment</h5>
                <div class="form-outline">
                  <textarea class="form-control" name="text" rows="4"></textarea>
                </div>
                <div class="d-flex justify-content-between mt-3">
                  <button type="submit" class="btn btn-danger">Send <i class="fas fa-long-arrow-alt-right ms-1"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>
  </div>
</section>


<div class="verticalrule">
  <div class="d-flex" style="height: 500px;">
    <div class="vr"></div>
  </div>
</div>