<div class="container-fluid bgsplash" style="background-image: url('https://res.cloudinary.com/dg1pgnrnl/image/upload/Assets/overlay_hquylb.png'),url('{{championDetail.champion.splashart}}'); background-size: cover; background-repeat: no-repeat;">
    <div class="champwrap">
        <body>
            <h1>{{championDetail.champion.name}}</h1>
            <h1>{{championDetail.champion.title}}</h1>
            <img src={{championDetail.champion.splashart}} alt="">
        </body>
    </div>

    <div class="champbuildtxt">
        <h1>Builds</h1>
    </div>

    {{#if championDetail.build}}
      {{#each championDetail.build as |build|}}
        <div class="detailall">
            <a href="/builds/{{ build._id }}">
                <div class="dbuild d-inline-block d-flex justify-content-center mt-4 mb-5">
                    <img src=" {{build.rune.image}} " alt="">
                    <img src=" {{build.boots.image}} " alt="">
                    <img src=" {{build.mythic.image}} " alt="">
                    <img src=" {{build.item1.image}} " alt="">
                    <img src=" {{build.item2.image}} " alt="">
                    <img src=" {{build.item3.image}} " alt="">
                    <img src=" {{build.item4.image}} " alt="">
                    <img src=" {{build.item5.image}} " alt="">
                </div>
            </a> 
        </div> 
      {{/each}}
    {{/if}}

    <div class="buttonnewbuild">
        <a href="/champions/{{ championDetail.champion.id }}/builds/new" style="text-white">Add Build</a>
    </div>
</div>