<h1>{{champ1.name}}</h1>
<h1>{{champ1.title}}</h1>
<img src={{champ1.splashart}} alt="">

<h1>{{champ2.name}}</h1>
<h1>{{champ2.title}}</h1>
<img src={{champ2.splashart}} alt="">

<h1>{{champ3.name}}</h1>
<h1>{{champ3.title}}</h1>
<img src={{champ3.splashart}} alt="">

<h1>{{champ4.name}}</h1>
<h1>{{champ4.title}}</h1>
<img src={{champ4.splashart}} alt="">

<h1>{{champ5.name}}</h1>
<h1>{{champ5.title}}</h1>
<img src={{champ5.splashart}} alt="">
